apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ec-policy.yaml
  - persistent_volume_claim.yaml
  - release_plan_admission.yaml
  - release_strategy.yaml
  - rh-fbc-publishing-credentials.yaml
namespace: rh-managed-cnv-fbc-tenant
