apiVersion: appstudio.redhat.com/v1beta1
kind: RemoteSecret
metadata:
  name: infra-deployments-pr-creator-remote-secret
  namespace: rhtap-releng-tenant
spec:
  secret:
    linkedTo:
    - serviceAccount:
        reference:
          name: konflux-servicerelease-sa
    - serviceAccount:
        reference:
          name: konflux-ci-servicerelease-sa
    name: infra-deployments-pr-creator
    type: Opaque
  targets:
  - namespace: rhtap-releng-tenant
